body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
	width: 500px;
}
dl dt {
    grid-column-start: 1;
}
dl dd {
    grid-column-start: 2;
	margin-inline-start: 0px;
	border-left: 1px solid #ccc;
	padding: 2px;
}
dl dt,
dl dd {
    border-top: 1px solid #ccc;
	padding-left: 5px;
}
dl dt:first-of-type,
dl dd:first-of-type {
    background: gray;
	color: blue;
	font-weight: bold;
}

.hint {
	display: none;
	position: absolute;
	background: white;
	border: solid 1px #999;
}
.icon {
	float: right;
    cursor: hand;
}
.showMore:hover + .hint {
  cursor: help;
  display: block;
  color: green;
}

#root {
    /* margin-left: auto; */
    /* position: fixed; */
    /* top: 10px; */
    /* left: 50%;
    min-width: 1024px;
    transform: translate(-50%, 0%); */
}
